
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 30px 16px;
  font-size: 17px;
  width: 25%;
  height: 100px;
}

.row {
  margin-top: 50px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  padding: 100px 20px;
  background-color: rgb(186, 186, 194);
  width: 100vw;
  height: 100vh;
}

/* #Home #Contact #Stories #About{
    background-color: rgb(148, 146, 146);
    width: 100vw;
    height: 100vh;
} */
