
<button class="tablink" (click)="openPage('Home')">Home</button>
<button class="tablink" (click)="openPage('Stories')">Stories about testing</button>
<button class="tablink" (click)="openPage('Contact')">Contact</button> 
<button class="tablink" (click)="openPage('About')">About</button>

<div id="Home" class="tabcontent" *ngIf="showBackgroundHome">

    <div class="container mt-6">
        
        <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        </div>
    </div>
</div>

<div id="Stories" class="tabcontent" *ngIf="showBackgroundStories">
    <div class="container p-5 my-5 border">
        <h1>My First Bootstrap Page</h1>
        <p>This container has a border and some extra padding and margins.</p>
    </div>

    <div class="container p-5 my-5 bg-dark text-white">
            <h1>My First Bootstrap Page</h1>
            <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
    </div>
    <div class="container p-5 my-5 bg-primary text-white">
            <h1>My First Bootstrap Page</h1>
            <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
    </div>
</div>

<div id="Contact" class="tabcontent" *ngIf="showBackgroundContact">
    <div class="container-fluid mt-3">
        <h1>Two Unequal Responsive Columns</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
        <div class="row">
            <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
            <div class="col-sm-8 p-3 bg-dark text-white">.col</div>
        </div>
    </div>
</div> 

<div id="About" class="tabcontent" *ngIf="showBackgroundAbout">
    <h3>About</h3>
    <p>Who we are and what we do.</p>
</div>


